{% extends "ROTIISBundle::layout.html.twig" %}
{% block title %}Boot "{{boot}}"{% endblock %}
{% block inner_content %}
    {{ include('ROTIISBundle:Boot:_object_actions.html.twig', {"boot": boot}) }}
    <table>
        <thead>
            <tr>
                <th>Versie</th>
                <th>Wijziging</th>
                <th>Door</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}