<div id="header">
    <div class="inner_wrapper" id="headeregg">
        <h3 id="headertext" class="boldlabel">{% trans %}sitetitel{% endtrans %}</h3>
        <span id="siteondertitel" class="introduction"><label>{% trans %}siteondertitel{% endtrans %}</label></span>
        <div class="main_logo"></div>
    </div>
</div>