<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="redirect.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network defaultCredentials="false" host="localhost" password="" port="25" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
